.start{
    font-size: 1.9em;
}

.start p{
    margin-bottom: 1em;
    color: #b14141;
}

.title{
    font-style: italic;
    font-display: initial;
}

.by{
    padding-bottom: 10px;
}

.by a{
    font-style: normal;
    text-decoration: none;
    color: #1e1e1e;
}